# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# pycharm
.idea/

*.html
services/network_analytics_pb2.py
services/network_analytics_pb2_grpc.py
services/snet_wrapper.py
services/test_snet_wrapper.py
*~
services/bipartite/service_spec/network_analytics_bipartite_pb2.py
services/bipartite/service_spec/network_analytics_bipartite_pb2_grpc.py
services/bipartite/network_analytics_pb2.py
services/bipartite/network_analytics_pb2_grpc.py
services/misc/Dockerfile_alternative
services/robustness/service_spec_robustness/network_analytics_robustness_pb2.py
services/robustness/service_spec_robustness/network_analytics_robustness_pb2_grpc.py
services/bipartite/service_spec_bipartite/network_analytics_bipartite_pb2.py
services/bipartite/service_spec_bipartite/network_analytics_bipartite_pb2_grpc.py
services/node_importance/service_spec_node_importance/node_importance_pb2.py
services/node_importance/service_spec_node_importance/node_importance_pb2_grpc.py
